{% extends 'core/base.html' %}

{% load static %}

{% block content %}
  <form method="post" enctype="multipart/form-data" class="text-center">
    {% csrf_token %}
    <!-- <input type="file"  data-buttonText="hello" data-classButton="btn btn-primary"> -->
    <input type="file" name="myfile" class="filestyle" height="480">
    <br>
    <br>
    <button class='btn btn-info btn-lg' type="submit">Upload</button>
    <br>
    <br>
  </form>

  {% if fail %}
    <h3 class="bg-danger text-white">Records Not Registered!</h3>
    <p>There are {{ fail }} records that don't have a filename.</p>
    <p>Check that there is a filename in every row of the CSV and try again.</p>
  {% endif %}

  {% if uploaded_file_url %}
    <h3>Records Registered Successfully!</h3>
    <dl class="row">
        <dt class="col-sm-6">File uploaded at:</dt>
        <dd class="col-sm-6">{{ uploaded_file_url }}</dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-6">Number of records created:</dt>
        <dd class="col-sm-6">{{ uploaded_num }}</dd>
    </dl>
  {% endif %}
  <br>
  <br>
  <a href='{% url 'data_group_detail' datagroup_pk %}'><button type="button" class="btn btn-primary btn-lg">Return to DataGroup</button></a>
{% endblock %}

{% block footer_scripts %}
  {{ block.super }}
  <script src="{% static 'js/bootstrap-filestyle.min.js' %}"></script>
  <script type="text/javascript">
    $(":file").filestyle({size: "lg",
                          btnClass: "btn-primary",
                          text: "Find/Drag File"});
  </script>
{% endblock %}
